<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">
    <featureManager>
        <feature>jakartaee-10.0</feature>
        <feature>microProfile-6.1</feature>
    </featureManager>

    <webApplication contextRoot="/" location="app.war" />

    <httpEndpoint id="defaultHttpEndpoint" httpPort="4000" httpsPort="4443" />

    <httpOptions throwIOEForInboundConnections="false" />

    <logging
        traceSpecification="*=info"
        traceFileName="stdout"
        traceFormat="ENHANCED"
        isoDateFormat="true" />

    <!-- <logging -->
    <!--     traceSpecification="*=info=enabled:com.ibm.ws.webcontainer*=all:com.ibm.wsspi.webcontainer*=all:HTTPChannel=all:GenericBNF=all:HTTPDispatcher=all:com.ibm.ws.http*=all" -->
    <!--     maxFileSize="40" -->
    <!--     maxFiles="20" -->
    <!--     traceFormat="BASIC" /> -->
</server>
