<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">
    <featureManager>
        <feature>jakartaee-9.1</feature>
        <feature>microProfile-5.0</feature>
    </featureManager>

    <webApplication contextRoot="/" location="app.war" />

    <httpEndpoint id="defaultHttpEndpoint" httpPort="4000" httpsPort="4443" />

    <httpOptions throwIOEForInboundConnections="false" />

    <logging
        traceSpecification="*=info"
        traceFileName="stdout"
        traceFormat="ENHANCED"
        isoDateFormat="true" />
</server>
